<div class="about-section">
  <h2 style="color: var(--text-color)">About Me</h2>
  <img src="assets/about-me.jpg" alt="About Me" class="about-image" />
  <p class="about-description" style="color: var(--text-color)">
    Hello everyone! I'm a web developer and web designer who is a goal-driven individual with relentless and committed
    passion for learning and skills enhancement. I studied in Mapua University-Makati, specializing in Application
    Development.
  </p>
</div>


<div class="tech-stack-section">
  <h2 style="color: var(--text-color)">Tech Stack</h2>
  <div class="tech-stack-grid">
    <div class="tech-item">
      <img src="assets/angular.png" alt="Angular" />
      <p style="color: var(--text-color)">Angular</p>
    </div>
    <div class="tech-item">
      <img src="assets/typescript.png" alt="TypeScript" />
      <p style="color: var(--text-color)">TypeScript</p>
    </div>
    <div class="tech-item">
      <img src="assets/bootstrap.png" alt="Bootstrap" />
      <p style="color: var(--text-color)">Bootstrap</p>
    </div>
    <div class="tech-item">
      <img src="assets/laravel.svg" alt="Tailwind CSS" />
      <p style="color: var(--text-color)">Laravel</p>
    </div>
    <div class="tech-item">
      <img src="assets/nodejs.png" alt="Node.js" />
      <p style="color: var(--text-color)">Node.js</p>
    </div>
    <div class="tech-item">
      <img src="assets/springboot.png" alt="Spring Boot" />
      <p style="color: var(--text-color)">Spring Boot</p>
    </div>
    <div class="tech-item">
      <img src="assets/mongodb.png" alt="MongoDB" />
      <p style="color: var(--text-color)">MongoDB</p>
    </div>
    <div class="tech-item">
      <img src="assets/mysql.png" alt="MySQL" />
      <p style="color: var(--text-color)">MySQL</p>
    </div>
  </div>
</div>



<div class="portfolio-section">
  <h2 style="color: var(--text-color)">Portfolio</h2>
  <div class="portfolio-grid">

    <!-- Project 1: Library Management System -->
    <div class="card">
      <img src="assets/library.png" class="card-img-top" alt="Library Management System">
      <div class="card-body">
        <h5 class="card-title">Library Management System</h5>
        <p class="card-text">A system for managing library resources and users, built with MySQL, Laravel, and
          Bootstrap.</p>
        <div class="btn-group">
          <a href="https://github.com/annailvyadne/Library-Management-System" target="_blank"
            class="btn btn-github">GitHub</a>
          <a href="#" target="_blank" class="btn btn-view">View</a>
        </div>
      </div>
    </div>

    <!-- Project 2: Budget Management System -->
    <div class="card">
      <img src="assets/budget.png" class="card-img-top" alt="Budget Management System">
      <div class="card-body">
        <h5 class="card-title">Budget Management System</h5>
        <p class="card-text">A tool to help users manage their personal finances, built with MySQL, Laravel, and
          Bootstrap.</p>
        <div class="btn-group">
          <a href="https://github.com/annailvyadne/Budget-Management-System" target="_blank"
            class="btn btn-github">GitHub</a>
          <a href="#" target="_blank" class="btn btn-view">View</a>
        </div>
      </div>
    </div>

    <!-- Project 3: Study Static Responsive Website -->
    <div class="card">
      <img src="assets/study.png" class="card-img-top" alt="Study Static Website">
      <div class="card-body">
        <h5 class="card-title">Study Static Responsive Website</h5>
        <p class="card-text">A responsive website designed for study-related resources, built with Angular and
          TypeScript.</p>
        <div class="btn-group">
          <a href="https://github.com/annailvyadne/Study-Website" target="_blank" class="btn btn-github">GitHub</a>
          <a href="https://study-website-pfgmjz1up-annailvyadnes-projects.vercel.app/" target="_blank"
            class="btn btn-view">View</a>
        </div>
      </div>
    </div>

    <!-- Project 4: Coffee Static Responsive Website -->
    <div class="card">
      <img src="assets/coffee.png" class="card-img-top" alt="Coffee Static Website">
      <div class="card-body">
        <h5 class="card-title">Coffee Static Responsive Website</h5>
        <p class="card-text">A beautifully designed static website for coffee enthusiasts, built with Angular and
          TypeScript.</p>
        <div class="btn-group">
          <a href="https://github.com/annailvyadne/Coffee-Shop" target="_blank" class="btn btn-github">GitHub</a>
          <a href="https://coffee-shop-jlzpc2mju-annailvyadnes-projects.vercel.app/" target="_blank"
            class="btn btn-view">View</a>
        </div>
      </div>
    </div>

    <!-- Project 5: Ecommerce Platform -->
    <div class="card">
      <img src="assets/digital.png" class="card-img-top" alt="Ecommerce Platform">
      <div class="card-body">
        <h5 class="card-title">Ecommerce Platform</h5>
        <p class="card-text">A full-fledged ecommerce platform built with Angular, TypeScript, SpringBoot, and MongoDB.
        </p>
        <div class="btn-group">
          <a href="#" target="_blank" class="btn btn-github">GitHub</a>
          <a href="#" target="_blank" class="btn btn-view">View</a>
        </div>
      </div>
    </div>

        <!-- Project 6: Cake Platform -->
        <div class="card">
          <img src="assets/cake.png" class="card-img-top" alt="Cake Platform">
          <div class="card-body">
            <h5 class="card-title">Cake Static Responsive Website</h5>
            <p class="card-text">A full responsive static small business website for cakes using basic web development tools such as HTML5, CSS3, and JS.
            </p>
            <div class="btn-group">
              <a href="https://github.com/annailvyadne/Cake-Website" target="_blank" class="btn btn-github">GitHub</a>
              <a href="https://cake-website-cccgg38ca-annailvyadnes-projects.vercel.app/" target="_blank" class="btn btn-view">View</a>
            </div>
          </div>
        </div>

  </div>
</div>


<section class="contact-section">
  <h2>Contact Us</h2>
  <form class="contact-form" (submit)="sendEmail($event)">
    <div class="form-group">
      <label for="name" >Name</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" class="form-control" placeholder="Your Name" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Your Email"
        required>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" [(ngModel)]="message" name="message" class="form-control" rows="4"
        placeholder="Your Message" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
  </form>
</section>

<!-- Confirmation message -->
<div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
  Your message has been sent successfully!
</div>